{% extends 'base.html' %}

{% load static %}

{%block content %}

  <div class="container" id="bio-container">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col">
        <p>Hi I am Nicholas Lorentzen. I am an undergraduate student at Connecticut College. I plan to major in CS.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <figure class="figure">
          <img src="https://avatars.githubusercontent.com/u/33159891" class="figure-img img-fluid rounded" alt="Me">
          <figcaption class="figure-caption text-end">Me</figcaption>
        </figure>
      </div>
      <div class="col">
        <p>I am on the sailing team here at Conn. In addition to sailing, I also enjoy Photography and Rock Climbing.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>I am from Palm Beach, Florida. I have lived there for the last 17 years of my life.</p>
      </div>
    </div>
  </div>
{% endblock content %}