{% extends 'base.html' %}

{% load static %}

{%block content %}

  <div class="container" id="main-container">
    <div class="row">
      <h1>Projects</h1>
    </div>
    <div class="row">
      <div class="accordion" id="projects-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              2020
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#projects-accordion">
            <div class="accordion-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="project-text">
                    <h3><a href="https://github.com/BLT-App/BLT-App">BLT App</a></h3>
                    <p>A task tracking App that I built during the 2019-20 school year for the class CO651/2.</p>
                    <p><i class="fab fa-apple"></i>Apple App</p>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="project-text">
                    <h3><a href="https://devpost.com/software/connctme">ConnctMe</a></h3>
                    <p>A Project For Hack@Brown for Fall 2020. The project placed <b>2nd</b> for best use of Google
                      Cloud</p>
                    <p><i class="fab fa-apple"></i>Apple App</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2019
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#projects-accordion">
            <div class="accordion-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="project-text">
                    <h3><a href="https://github.com/EKKOING/CO552_ssb">OW SSB</a></h3>
                    <p>A smash style fighting game written in Java</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}